<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="http://tjgcloudservices.com"><span class="glyphicon glyphicon-user"></span>About TJG Cloud Services</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span>TJG Web Services Application Development <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="http://tjgwebservices.com/index.php?view=products&viewType=development&language=ruby">Ruby</a></li>
            <li><a href="http://tjgwebservices.com/index.php?view=products&viewType=development&language=node">Node</a></li>
            <li><a href="http://tjgwebservices.com/index.php?view=products&viewType=development&language=php">PHP</a></li>
            <li><a href="http://tjgwebservices.com/index.php?view=products&viewType=development&language=python">Python</a></li>
            <li><a href="http://tjgwebservices.com/index.php?view=products&viewType=development&language=java">Java</a></li>
            <li><a href="http://tjgwebservices.com/index.php?view=products&viewType=development&language=go">Go</a></li>
            <li><a href="http://tjgwebservices.com/index.php?view=products&viewType=development&language=clojure">Clojure</a></li>
            <li><a href="http://tjgwebservices.com/index.php?view=products&viewType=development&language=scala">Scala</a></li>
            <li class="divider"></li>
            <li><a href="http://tjgwebservices.com/index.php?view=products&viewType=development&language=TCPIP">TCPIP Development</a></li>
            <li><a href="http://tjgwebservices.com/index.php?view=products&viewType=development&language=SQL">SQL Development</a></li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="http://tjgcloudservices.com"><span class="glyphicon glyphicon-book"></span>More about Cloud Services Education</a>
      </li>
    </ul>
  </div>
</nav>
