<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<!--div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>TJG Development Services</h1>
    <p>TJG Development Services, provided by <a href="http://www.tjgwebservices.com/">TJG Web Services</a> for training in application development and testing.</p>
    <a type="button" class="btn btn-lg btn-default" href="http://www.tjgwebservices.com/"><span class="glyphicon glyphicon-flash"></span> TJG Web Services</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/tjg-tutoring-services"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div-->
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs" class="alert-link">Getting Started with Node on Heroku</a> tutorial.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
      <ul>
        <li>This app was deployed to Heroku using Git.</li>

        <li>When Heroku received the source code, it grabbed all the dependencies in the <a href="https://github.com/heroku/tjg-tutoring-services/package.json">package.json</a>.</li>
        <li>The platform then spins up a dyno, a lightweight container that provides an isolated environment in which the slug can be mounted and executed.</li>
        <li>This application is for familiarization with the different services provided by a cloud provider and how to easily create and deploy web applications.</li>
        <li>Check out <a href="http://tjgcloudservices.com">TJG Cloud Services</a> for more information!</li>
      </ul>
    	<div class="col-md-6">
      		<h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      			<ul>
        			<li><a href="http://www.tjgwebservices.com/">TJG Web Services</a></li>
			        <li><a href="http://www.internationalcardsonline.com/">Computer Aided Research and Design System (CARDS) Online Network</a></li>
			        <li><a href="http://datastorage.tjgwebservices.com/">TJG Web Services - Mobile Development</a></li>
			        <li><a href="http://mobile.tjgwebservices.com/">TJG Web Services - Database Modeling</a></li>
 			</ul>
	</div>

    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
<p>For questions about application development and deployment please contact <a href="mailto:info@tjgwebservices.com">info@tjgwebservices.com</a></p>
<p>2016 &copy TJG Web Services, LLC</p>
  </div>
</div>


</body>
</html>
